@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.centered-axis-x {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.page-footer {
    display: flex;
    flex: 0 0 auto;
    background: #fff;
    color: #4d4d4d;
    padding: 9px 12px 9px 18px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.21);
    margin-top: 30px;
    font-size: 12px;
}

.flex-1 {
    flex: 1;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazored-modal {
    width: 80vw !important;
}

.blazored-modal-title {
    font-size: 1.3rem !important;
}

.blazored-modal-header {
    border-bottom: 1px solid #d8d8d8;
    padding: 0 !important;
    margin-bottom: 1.5rem !important;
}

.w-5 {
    width: 5% !important;
}

.w-10 {
    width: 10% !important;
}

.w-15 {
    width: 20% !important;
}

.w-70 {
    width: 70% !important;
}

.cursor-pointer {
    cursor: pointer;
}

.nav-link .oi {
    padding-right: 5px !important;
}


@media (max-width: 575.98px) {
    .txt-resp {
        font-size: 3vw;
    }

    .blazored-modal {
        padding: 0.7rem !important;
        width: 90vw !important;
    }

    .blazored-modal-title {
        font-size: 0.8rem !important;
    }

    .blazored-modal-close {
        padding: 1rem !important;
    }

    .day {
        height: 60px !important;
    }
}


@media (min-width: 576px) and (max-width: 767.98px) {
    app {
        flex-direction: row;
    }

    .txt-resp {
        font-size: 0.9rem;
    }

    .blazored-modal {
        padding: 1rem !important;
    }

    .blazored-modal-close {
        padding: 0.3rem;
    }

    .day {
        height: 80px !important;
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {

    .blazored-modal-close {
        padding: 0.5rem;
    }

    .blazored-modal {
        width: 90vw !important;
    }

    .day {
        height: 100px !important;
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) {
}


@media (min-width: 1200px) {
}