@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.centered-axis-x {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.page-footer {
    display: flex;
    flex: 0 0 auto;
    background: #fff;
    color: #4d4d4d;
    padding: 9px 12px 9px 18px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.21);
    margin-top: 5px;
    font-size: 12px;
}

.flex-1 {
    flex: 1;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.blazored-modal {
    width: 80vw !important;
}

.blazored-modal-title {
    font-size: 1.3rem !important;
}

.blazored-modal-header {
    border-bottom: 1px solid #d8d8d8;
    padding: 0 !important;
    margin-bottom: 1.5rem !important;
}

.w-5 {
    width: 5% !important;
}

.w-10 {
    width: 10% !important;
}

.w-15 {
    width: 20% !important;
}

.w-70 {
    width: 70% !important;
}

.cursor-pointer {
    cursor: pointer;
}

.nav-item {
    line-height: 20px;
}

.nav-link .bi {
    margin-right: 5px !important;
    vertical-align: top;
}

.mealsinfotitle {
    color: #b31132;
}

.validation-errors {
    color: #b31132;
}

.list-group-item-action:focus,
.list-group-item-action:hover {
    z-index: 1;
    color: #ffffff !important;
    text-decoration: none;
    background-color: #b31132;
}

.groceryItemAdd {

}


.tile {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    cursor: pointer;
    width: 18rem;
}

.tile:hover {
    background-color: #b31132;
    color: #ffffff !important;
}

.card-img-top {
    max-height: 163px !important;
    max-width: 163px !important;
}

.tileImg {
    max-height: 163px !important;
    max-width: 286px !important;
}

.homeTiles {
    margin: auto;
    max-width: 80vw;
}

.displaynavigation {
    visibility: hidden;
}

@media (max-width: 575.98px) {
        .txt-resp {
        font-size: 3vw;
    }
    .blazored-modal {
        padding: 0.7rem !important;
        width: 90vw !important;
    }
    .blazored-modal-title {
        font-size: 0.8rem !important;
    }
    .blazored-modal-close {
        padding: 1rem !important;
    }
    .day {
        height: 60px !important;
    }

    .tileImg {
        max-width: 100vw !important;
    }

    .tile {
        width: 100vw;
        margin-right: 0px !important;
    }

    .homeTiles {
        max-width: 100vw;
    }

    .displaynavigation {
        visibility: unset;
    }

    .accordion .contentBx {
        width: 95vw;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    app {
        flex-direction: row;
    }
    .txt-resp {
        font-size: 0.9rem;
    }
    .blazored-modal {
        padding: 1rem !important;
    }
    .blazored-modal-close {
        padding: 0.3rem;
    }
    .day {
        height: 80px !important;
    }
    .tile {
        width: 11.84rem;
    }

    .homeTiles {
        max-width: 93vw;
    }

    .displaynavigation {
        visibility: unset;
    }

    .accordion .contentBx {
        width: 95vw;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .blazored-modal-close {
        padding: 0.5rem;
    }
    .blazored-modal {
        width: 90vw !important;
    }
    .day {
        height: 100px !important;
    }

    .homeTiles {
        max-width: 80vw;
    }

    .displaynavigation {
        visibility: unset;
    }
    .accordion .contentBx {
        width: 95vw;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {

    .tile {
        width: 16rem;
    }

    .homeTiles {
        max-width: 80vw;
    }

    .displaynavigation {
        visibility: unset;
    }
}

@media (min-width: 1200px) {}