<div class="d-flex flex-row flex-nowrap">
    @for(int i = 1; i <= Data.Count; i++)
    {
        var j = i - 1;
        <CalendarDay Item="@Data[j]" Nr="i"/>
    }
</div>

@code {
    [Parameter]
    public List<CalenderViewItem> Data { get; set; }

}
