@inject AppStates AppStates


<div class="d-flex flex-column cal-container user-select-none mt-3">
    <div class="d-flex flex-row flex-nowrap justify-content-center w-100 p-3">
        <div class="d-flex flex-row flex-1">
            <h3>@CalendarBuilder.GetMonthName(DateTime.Now.Year, DateTime.Now.Month)</h3>
            <small>@DateTime.Now.Year</small>
        </div>
        <div class="mx-3"><ChangeView/></div>
    </div>

    <div class="d-flex flex-row flex-nowrap dayname-border-top">
        <span class="day-name day-border-right">Mon</span>
        <span class="day-name day-border-right">Tue</span>
        <span class="day-name day-border-right">Wed</span>
        <span class="day-name day-border-right">Thu</span>
        <span class="day-name day-border-right">Fri</span>
        <span class="day-name day-border-right">Sat</span>
        <span class="day-name">Sun</span>
    </div>

    @foreach (var data in CalenderData.SplitList(7))
    {
        <CalendarRow Data="@data" />
    }


</div>

@code
{

    List<CalenderViewItem> CalenderData = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        CalenderData = CalendarBuilder.GetDaysOfMonthForView(DateTime.Now.Year, DateTime.Now.Month);
    }
}