@inject IModalService Modal

@if (isDisabled)
{
    <div @onclick="ShowMealDialog" class="day day--disabled@(isNoBorderRight ? "" : " day-border-right")">@Day</div>
}
else
{
    <div @onclick="ShowMealDialog" class="day @(isNoBorderRight ? "" : " day-border-right")">@Day<span class="total-cal w-100">Total Cal: @(Day + 100)</span></div>
}
@code {

    private bool isNoBorderRight = false;

    [Parameter]
    public int Nr
    {
        set
        {
            isNoBorderRight = value % 7 == 0;
        }
    }

    [Parameter]
    public int Day { get; set; }

    [Parameter]
    public bool isDisabled { get; set; }

    private void ShowMealDialog()
    {
        Modal.Show<MealComponent>("My Meal");
    }
}