@inject IJSRuntime JsRuntime
<style>
    .btnoutline-secondary {
        border-color: #dbdee0 !important;
    }

    .navigatorButton {
        opacity: .5;
    }

        .navigatorButton:hover {
            opacity: 1;
        }
</style>
<div class="displaynavigation">
    <div class="d-flex flex-row justify-content-between mt-2 mb-2">
        <button class="btn btnoutline-secondary navigatorButton" @onclick="GoBackClickHandler" data-toggle="tooltip" data-placement="top" title="Tap to go back"><img src="./images/icons8-back-64.png" width="32" height="32" /></button>
        @*<button class="btn btnoutline-secondary navigatorButton" @onclick="GoForwardClickHandler" data-toggle="tooltip" data-placement="top" title="Tap to go forward"><img src="./images/icons8-forward-64.png" width="32" height="32" /></button>*@
    </div>
</div>

@code {

    private async Task GoBackClickHandler()
    {
        await JsRuntime.InvokeVoidAsync("goBack");
    }

    private async Task GoForwardClickHandler()
    {
        await JsRuntime.InvokeVoidAsync("goForward");
    }
}