@inherits LayoutComponentBase

<div class="d-flex flex-column w-100">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="https://img.icons8.com/color/48/000000/bagel.png" width="30" height="30" class="d-inline-block align-top" alt="">
            MealPlanner
        </a>
    </nav>

    <div class="container-fluid pt-2 pb-2">
        @Body
    </div>
    
    
    <footer class="page-footer">
        <div class="flex-1">
            © 2020 MealPlanner Developed by <a href="/">UmairSyed</a> Sourcecode: <img src="https://img.icons8.com/color/48/000000/github--v1.png" width="20" height="20" class="d-inline-block align-bottom" />
        </div>
    </footer>
</div>
