@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<div class="d-flex flex-column w-100">

    <NavBar />

    <div class="container-fluid pt-4 pb-4">
        @Body
    </div>


    <footer class="page-footer">
        <div class="flex-1">
            © 2020 MealPlanner Developed by <a href="https://github.com/umairsyed613" target="_blank">UmairSyed</a>
        </div>
    </footer>
</div>

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="3"
                ShowProgressBar="true"/>