@inject IMealService MealService

@if (Meal != null)
{
    <div class="w-70 txt-resp">@Meal.DishName</div>
    <div class="w-15 txt-resp">@Meal.MealType</div>
    <div class="w-10 txt-resp text-right">@Meal.CaloriesCount</div>
    <div class="w-5 txt-resp text-right"><span class="oi oi-trash cursor-pointer" @onclick="@(() => onRemove.InvokeAsync(Meal))"></span></div>

}

@code {
    [Parameter]
    public Meal Meal { get; set; }

    [Parameter]
    public CalenderViewItem Item { get; set; }

    [Parameter] public EventCallback<Meal> onRemove { get; set; }

}
