@inject IMealService MealService

@if (Meal != null)
{
    <div class="w-70">@Meal.DishName</div>
    <div class="w-15">@Meal.MealType</div>
    <div class="w-10 text-right">@Meal.CaloriesCount</div>
    <div class="w-5 text-right"><span class="oi oi-trash" @onclick="@(() => onRemove.InvokeAsync(Meal))"></span></div>

}

@code {
    [Parameter]
    public Meal Meal { get; set; }

    [Parameter]
    public CalenderViewItem Item { get; set; }

    [Parameter] public EventCallback<Meal> onRemove { get; set; }

}
