@page "/"
@inject NavigationManager Manager
@inject IJSRuntime JsRuntime
<style>
    .homepage {
        max-width: 1051px;
    }

    .text-quicklink {
        font-size: 0.8rem;
    }

    /*    .gallery-cell-image {
        display: block;
    }*/
</style>
<div class="d-flex flex-column mt-2 mx-auto homepage">
    <div class="d-flex flex-column user-select-none">
        <div class="d-flex flex-row align-items-center user-select-none px-4">
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-link-45deg mr-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.715 6.542L3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.001 1.001 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z" />
                <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 0 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 0 0-4.243-4.243L6.586 4.672z" />
            </svg>
            <h4 class="m-0">Quick Links</h4>
        </div>

        @* Quick Links *@
        @*<div class="d-flex flex-row flex-nowrap overflow-auto justify-content-start px-4 py-4 quicklinks">
                <div class="d-flex flex-column align-items-center p-3 mr-2 shadow bg-white quicklink" @onclick="@(() => Manager.NavigateTo("./mealplanner"))">
                    <div class="img"> <img src="./images/mealplanner_tile.png" width="80" height="80" alt="MealPlanner"></div>
                    <div class="text-quicklink">MealPlanner</div>
                </div>

                <div class="d-flex flex-column align-items-center p-3 mr-2 shadow bg-white quicklink" @onclick="@(() => Manager.NavigateTo("./grocerylist"))">
                    <div class="img"> <img src="./images/grocerylist_tile.png" width="80" height="80" alt="GroceryList"></div>
                    <div class="text-quicklink">Grocery List</div>
                </div>

                <div class="d-flex flex-column align-items-center p-3 mr-2 shadow bg-white quicklink">
                    <div class="img"> <img src="./images/notes-tiles.png" width="80" height="80" alt="Notes"></div>
                    <div class="text-quicklink">Notes</div>
                </div>
            </div>*@
        <div id="gallery" class="d-block flex-row flex-nowrap justify-content-start px-4 pt-2 pb-4">
            <div class="gallery-cell">
                <div class="d-flex flex-column align-items-center p-3 mr-2 my-4 shadow bg-white" @onclick="@(() => Manager.NavigateTo("./mealplanner"))">
                    <div class="img"> <img src="./images/mealplanner_tile.png" width="80" height="80" alt="MealPlanner"></div>
                    <div class="text-quicklink">MealPlanner</div>
                </div>
            </div>
            <div class="gallery-cell">
                <div class="d-flex flex-column align-items-center p-3 mr-2 my-4 shadow bg-white" @onclick="@(() => Manager.NavigateTo("./grocerylist"))">
                    <div class="img"> <img src="./images/grocerylist_tile.png" width="80" height="80" alt="GroceryList"></div>
                    <div class="text-quicklink">Grocery List</div>
                </div>
            </div>
            <div class="gallery-cell">
                <div class="d-flex flex-column align-items-center p-3 mr-2 my-4 shadow bg-white">
                    <div class="img"> <img src="./images/notes-tiles.png" width="80" height="80" alt="Notes"></div>
                    <div class="text-quicklink">Notes</div>
                </div>
            </div>
        </div>

    </div>

    <div class="d-flex flex-column mt-3 px-4">
        <div class="d-flex flex-row align-items-center user-select-none">
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-info-square-fill mr-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.93 4.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
            </svg>
            <h4 class="m-0">Health Tips</h4>
        </div>
        <div class="d-flex flex-row my-2">
            <img src="./images/healthtip_img1.jpg" class="img-thumbnail img-fluid" />
        </div>
        <div class="d-flex flex-row text-break">
            Eat a combination of different foods, including fruit, vegetables, legumes, nuts and whole grains. Adults should eat at least five portions (400g) of fruit and vegetables per day. You can improve your intake of fruits and vegetables by always including veggies in your meal; eating fresh fruit and vegetables as snacks; eating a variety of fruits and vegetables; and eating them in season. By eating healthy, you will reduce your risk of malnutrition and noncommunicable diseases (NCDs) such as diabetes, heart disease, stroke and cancer.
        </div>

        <div class="d-flex flex-row my-4">
            <img src="./images/healthtip_img2.jpg" class="img-thumbnail img-fluid" />
        </div>
        <div class="d-flex flex-column">
            <p>Filipinos consume twice the recommended amount of sodium, putting them at risk of high blood pressure, which in turn increases the risk of heart disease and stroke. Most people get their sodium through salt. Reduce your salt intake to 5g per day, equivalent to about one teaspoon. It’s easier to do this by limiting the amount of salt, soy sauce, fish sauce and other high-sodium condiments when preparing meals; removing salt, seasonings and condiments from your meal table; avoiding salty snacks; and choosing low-sodium products.</p>
            <p>
                On the other hand, consuming excessive amounts of sugars increases the risk of tooth decay and unhealthy weight gain. In both adults and children, the intake of free sugars should be reduced to less than 10% of total energy intake. This is equivalent to 50g or about 12 teaspoons for an adult. WHO recommends consuming less than 5% of total energy intake for additional health benefits. You can reduce your sugar intake by limiting the consumption of sugary snacks, candies and sugar-sweetened beverages.
            </p>
        </div>
    </div>
</div>


@code{

    protected override async Task OnInitializedAsync() => await JsRuntime.InvokeVoidAsync("CheckQuickLinks");

}