@page "/"
@inject NavigationManager Manager


<div class="d-flex flex-row flex-wrap homeTiles user-select-none">
    <div class="tile mr-2 mb-2 shadow" @onclick="@(() => Manager.NavigateTo("./mealplanner"))">
        <div class="tileImg d-flex  justify-content-center">
            <img src="./images/mealplanner_tile.png" class="card-img-top mt-2" alt="MealPlanner">
        </div>
        <div class="card-body">
            <h5 class="card-title">Meal Planner</h5>
            <h6 class="card-subtitle mb-2 text-muted">Meal planning for current month</h6>
        </div>
    </div>
    <div class="tile mr-2 mb-2 shadow" @onclick="@(() => Manager.NavigateTo("./grocerylist"))">
        <div class="tileImg d-flex  justify-content-center"><img src="./images/grocerylist_tile.png" class="card-img-top mt-2" alt="MealPlanner"></div>
        <div class="card-body">
            <h5 class="card-title">Grocery List</h5>
            <h6 class="card-subtitle mb-2 text-muted">All of your grocery lists</h6>
        </div>
    </div>
    <div class="tile mr-2 mb-2 shadow" >
        <div class="tileImg d-flex  justify-content-center"><img src="./images/todo_tile.png" class="card-img-top mt-2" alt="MealPlanner"></div>
        
        <div class="card-body">
            <h5 class="card-title">Todo List</h5>
            <h6 class="card-subtitle mb-2 text-muted">All of your Todo's</h6>
        </div>
    </div>
    <div class="tile mr-2 mb-2 shadow" >
        <div class="tileImg d-flex  justify-content-center"><img src="./images/notes-tiles.png" class="card-img-top mt-2" alt="MealPlanner"></div>
        
        <div class="card-body">
            <h5 class="card-title">Notes</h5>
            <h6 class="card-subtitle mb-2 text-muted">Make quick notes here</h6>
        </div>
    </div>
</div>