@page "/mealtypes"

<div class="d-flex flex-column p-2">
   <h1 class="mealsinfotitle">7 Meals of the Day</h1>
   <p>Do you know all the words for the meals that we eat during
      the day? Most people probably eat about three main meals
      every day, but here are seven words for main and other meals
      that we often use:  
   </p>
   <p class="rounded border p-2"><b>Breakfast</b><br>
      The first meal of the day. Usually around 6am-9am.
   </p>
   <p class="rounded border p-2"><b>Brunch</b><br>
      A meal eaten in the late morning, instead of Breakfast and
      Lunch.
   </p>
   <p class="rounded border p-2"><b>Elevenses</b><br>
      A snack (for example, biscuits and coffee). Around 11am.
   </p>
   <p class="rounded border p-2"><b>Lunch</b><br>
      A meal in the middle of the day. Usually around noon or 1pm.
   </p>
   <p class="rounded border p-2"><b>Tea</b><br>
      A light afternoon meal of sandwiches, cakes etc, with a
      drink of tea. Around 4pm. It is also sometimes called
      <i>afternoon tea</i> (mainly BrE). The word <i>tea</i> can also refer to a cooked
      evening meal, around 6pm (BrE).
   </p>
   <p class="rounded border p-2"><b>Supper</b><br>
      A light or informal evening meal. Around 6pm-7pm.
   </p>
   <p class="rounded border p-2"><b>Dinner</b><br>
      The main meal of the day, eaten either in the middle of the
      day or in the evening. Usually when people say &quot;dinner&quot;,
      they mean an evening meal, around 7pm-9pm.
   </p>
</div>

<CustomNavigator />