@page "/mealplanner"
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject AppStates AppStates

@*<div class="DisplayCalendarMobile">
    <CalendarMobile ChangeView="ToggleView" />
</div>
<div class="DisplayCalendarMonth">
    <CalendarFlex ChangeView="ToggleView" />
</div>*@

@if (AppStates.ViewType == ViewType.DayView)
{
    <CalendarMobile />
}
else if(AppStates.ViewType == ViewType.MonthView)
{
    <CalendarFlex />
}
else
{
    <WeekView />
}

<CustomNavigator />


@code {

    protected override void OnInitialized()
    {
        AppStates.ViewChanged += () =>
        {
            StateHasChanged();
        };
    }

}