@page "/mealplanner"
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div class="DisplayCalendarMobile">
    <CalendarMobile/>
</div>
<div class="DisplayCalendarMonth">
    <CalendarFlex />
</div>

<CustomNavigator />


@code {

}